/* styles the headers of each website page */
body {
  background-color: linen;
}

header.home {
  color: #224c3c;
  font-size: 60px;
  text-align: center;
  font-family: "Courier New", "Lucida Console", monospace;
}

header.about {
  color: #224c3c;
  font-size: 60px;
  text-align: center;
  font-family: "Courier New", "Lucida Console", monospace;
}

header.links {
  color: #224c3c;
  font-size: 60px;
  text-align: center;
  font-family: "Courier New", "Lucida Console", monospace;
}

header.FAQ {
  color: #224c3c;
  font-size: 60px;
  text-align: center;
  font-family: "Courier New", "Lucida Console", monospace;
}

header.videos {
  color: #224c3c;
  font-size: 60px;
  text-align: center;
  font-family: "Courier New", "Lucida Console", monospace;
}

/* styles the navigation bar including media navigation too */
a {
  text-decoration: none;
}

.main_nav li a {
  color: navy;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #dee2e6;
  font-size: 25px;
}

.logo {
  margin-left: 5%;
  color: black;
  font-size: 25px;
  font-family: "Courier New", "Lucida Console", monospace;
  font-weight: bold;
}

.logo_header {
  display: flex;
  margin-left: 2%;
}

.main_nav {
  display: flex;
  width: 50%;
  float: right;
  margin-right: 2%;
  justify-content: space-between;
  list-style: none;
}

.main_nav li {
  display: inline;
  color: navy;
  font-family: "Courier New", "Lucida Console", monospace;
}

.main_nav li:hover {
  background-color: #f5e1e1;
}

.navbar_toggle {
  display: none;
}

@media only screen and (max-width: 930px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #dee2e6;
    font-size: 25px;
  }

  .main_nav {
    display: none;
  }

  .show_nav {
    padding-top: 2%;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main_nav li {
    width: 100%;
    height: 50px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding: 0%;
  }

  .navbar_toggle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: black;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
  }

  .logo_header {
    width: 100%;
    justify-content: space-between;
    margin-right: 2%;
  }
}

/* styles the q&a form portion */
.gradecol {
  font-size: 20px;
  font-family: "Courier New", "Lucida Console", monospace;
  color: #722F37;
  font-weight: bold;
  text-align: left;
  padding-left: 2%;
}

.answercol {
  font-size: 20px;
  font-family: "Courier New", "Lucida Console", monospace;
  color: #722F37;
  font-weight: bold;
  text-align: left;
  padding-left: 2%;
}

.topiccol {
  font-size: 20px;
  font-family: "Courier New", "Lucida Console", monospace;
  color: #722F37;
  font-weight: bold;
  text-align: left;
  padding-left: 2%;
}

input[type=reset], input[type=submit]{
  width: 5em;
  height: 2em;
  font-size: 20px;
  font-family: "Courier New", "Lucida Console", monospace;
  color: black;
  font-weight: bold;
  margin-left: 2%;
  background-color: #B2AC88;
  opacity: 0.7;
}
